Language: Cpp
BasedOnStyle: WebKit

ColumnLimit: 80

AlignAfterOpenBracket: BlockIndent

BinPackArguments: false
AllowAllArgumentsOnNextLine: false

BinPackParameters: false
AllowAllParametersOfDeclarationOnNextLine: false

AllowShortFunctionsOnASingleLine: false

AlignOperands: AlignAfterOperator
